#waq
    background-image linear-gradient(349deg, #47c3a1, #00ffb9)
    background-size 400% 400%
    animation AnimationName 4s ease infinite
    .brand-col
        background-color white
        color #000ca0
        .tag    
            background-color #f9eb46
            color #000ca0
        p 
            color #00ffb9
