footer
    background-image linear-gradient(349deg, rgb(206, 170, 150), rgb(148, 111, 91))
    background-size 400% 400%
    animation AnimationName 4s ease infinite
    p
        color #fff
        font-size 1rem
    img  
      height 3rem
      opacity 0.6

    a
      text-decoration none
      color #fff
      transition all 0.3s ease
      &:hover
        text-decoration line-through
        color white
    .anne
      font-size 0.75rem
    strong
      color white
    .footer
        width 90%
        margin-left auto
        margin-right auto
        padding-top 30px
        padding-bottom 30px
        