header
    .jumbotron
        .container
                .row
                    nav.home
                          a.goback(href='/index')
                            i.fa.fa-home.i-header(aria-hidden='true')
                          //a.goback.snipcart-checkout.snipcart-summary(href='#')
                            i.fa.fa-shopping-cart.i-header(aria-hidden='true')
                                span.snipcart-total-price
                          a.goback(href='#')
                            i.fa.fa-user.i-header
                    #title.col-12.center
                        //img(src=(source), alt='chanvre quebec')
                        h1(style=(textcolor))=(headline)
                        h2.font-light(style=(textcolor))=(underline)



