footer
  .footer
    .row
      .col-6.left
            p.anne Paul Dubois
            p.anne 
                | 2017-2018
                | Open source under the 
                a(href='https://opensource.org/licenses/MIT', target='_blank') MIT License
            a(href='https://www.netlify.com')
                img(src='https://www.netlify.com/img/global/badges/netlify-color-accent.svg' width="75px" height="auto")
      .col-6.right
            a.goback(href='https://www.facebook.com/paulentretiens/?fref=ts')
                i.fa.fa-facebook.i-footer(aria-hidden='true')

