header
    .jumbotron
        .container
                .row
                    nav.home
                          a.goback(href='/index')
                            i.fa.fa-home.i-header(aria-hidden='true')
                          //a.goback.snipcart-checkout.snipcart-summary(href='#')
                            i.fa.fa-shopping-cart.i-header(aria-hidden='true')
                                span.snipcart-total-price
                          a.goback(href='#')
                            i.fa.fa-tree.i-header
                          a.goback(href='#')
                            i.fa.fa-pagelines.i-header
                    #title.col-6.center
                        //img(src=(source), alt='chanvre quebec')
                        h1(style=(textcolor))=(headline)
                        h2.font-light(style=(textcolor))=(underline)
                    #title.col-6.center
                        h3 Mes informations
                        a(href="tel:14507750451")
                            h4 1 450 775 0451
                        a(href="mailto:duboisentreprise@outlook.com")
                            h4 duboisentreprise@outlook.com


