.container
    .row
      .col-3.center
        h3.plan-title Paysagement
        p.plan-price
          | $1900 
          span.plan-unit par été
        ul.plan-features
          li.plan-feature
            | 2 
            span.plan-feature-name fleurs
          li.plan-feature
            | 5
            span.plan-feature-name pose de roche
          li.plan-feature
            | 3 
            span.plan-feature-name étang artificiel
        a(href='#')
            button.btn-secondary Avoir une soumission
      .col-3.center
        h3.plan-title Tonte de gazon
        p.plan-price
          | $500
          span.plan-unit par été
        ul.plan-features
          li.plan-feature
            | 5 
            span.plan-feature-name websites
          li.plan-feature
            | 20
            span.plan-feature-name storage
          li.plan-feature
            | 10 
            span.plan-feature-name users
        a(href='#') 
            button.btn-secondary Avoir une soumission
      .col-3.center
        h3.plan-title Taillage de haies
        p.plan-price
          | $2000
          span.plan-unit par été
        ul.plan-features
          li.plan-feature
            | 20 
            span.plan-feature-name cèdres
          li.plan-feature
            | 50
            span.plan-feature-name sapins
          li.plan-feature
            | 25 
            span.plan-feature-name pommiers
        a(href='#')
            button.btn-secondary Avoir une soumission
      .col-3.center
        h3.plan-title Émondage/Abattage
        p.plan-price
          | $249 
          span.plan-unit par été
        ul.plan-features
          li.plan-feature
            | ∞ 
            span.plan-feature-name branches
          li.plan-feature
            | 200
            span.plan-feature-name boulos
          li.plan-feature
            | 25
            span.plan-feature-name sapins
        a(href='#')
            button.btn-secondary Avoir une soumission
